* {
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

body {
    display: flex;
    flex-direction: column;
}

.header, .hero, .footer {
    background-color: #1f2937;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 180px;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}

.links {
    display: flex;
    list-style: none;
    gap: 24px;
}

.links a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    font-weight: lighter;
}

.content {
    flex: 1;
}

.hero {
    display: flex;
    align-items: center;
    gap: 48px;
    padding: 48px 180px;
}

.title h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin-bottom: 18px;
}

.title p {
    color: #e5e7eb;
    font-size: 24px;
    margin-bottom: 18px;
}

.title button {
    background-color: #3882f6;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    color: #f9faf8;
    font-weight: bold;
    font-size: 24px;
}

.info {
    text-align: center;
    padding-bottom: 48px;;
}

.info h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin: 16px 0;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 48px;
}

.info-card {
    flex: 0 0 min-content;
    font-size: 12px;
    font-weight: 600;   ;
}

.info-card img{
    width: 150px;
    height: auto;
    border: 3px solid #3882f6;
    border-radius: 10px;
}

.quote {
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    padding: 80px 180px;
}

.quote .author {
    text-align: end;
    font-size: 24px;
    font-style: normal;
    font-weight: bold;
    padding-top: 16px;
}

.action {
    padding: 48px 180px;
}

.action-card {
    background-color: #3882f6;
    border-radius: 10px;
    padding: 26px 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.action-card-text {
    color:#e5e7eb
}

.action-card-text h2 {
    color: #f9faf8;
}

.action-card button {
    color: #f9faf8;
    font-weight: bold;
    background-color: #3882f6;
    border-radius: 5px;
    border: 2px solid #f9faf8;
    padding: 8px 12px;
}

.footer {
    color: #e5e7eb;
    font-size: 18px;
    text-align: center;
    align-content: center;
    padding: 24px;
}
